body {
  padding: 0;
  margin: 0;
}

.headerSection {
  background-color: aqua;
  height: 100px; /* Add appropriate height in pixels or other units */
  /* display: flex;
  flex-direction: row; */
}
.navv {
  display: flex;
  /* flex-direction: row; */
  width: 100%;
}
.logo {
  color: black;
  font-size: 34px;
  text-align: left;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 10px 60px;
  width: 25%;
}
.logo span {
  font-size: 48px;
  color: rebeccapurple;
}

.links {
  text-align: center;
  font-size: 28px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  width: 600px;
  text-decoration: none;
  margin: right 15px;
}

.links a {
  text-decoration: none;
}
.socialIcons {
  display: flex;
  gap: 10px;
  height: 18px;
  margin-right: 20%;
  padding: 10px;
  gap: 30px;
}

h1 {
  font-size: 18px;
  text-align: left;
  padding: 0px;
  margin: 0px;
}

/* -------------------------------------hero section here------------ */
.HeroSection {
  height: 500px;
  margin: 1% 15%;
}
.Web {
  font-size: 64px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.HeroSection h1 span {
  font-weight: bolder;
  font-size: 64px;
  margin: 0px;
}
.HeroSection .slug {
  font-size: 28px;
  font-weight: 400;
  margin: 0px;
}

.Satisfaction {
  margin-top: -100px;
  text-align: left;
  font-size: 18px;
}
.Satisfaction span {
  font-size: 48px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.CV {
  text-align: center;
  margin-right: 200px;
  margin-top: -50px;
  font-size: 48px;
  padding-left: 30px;
  padding-right: 46px;
  padding-right: 45;
  color: black;
}

.sat {
  font-size: 30px;
  margin: 0% 0%;
}
.Doum {
  font-size: 18px;
  padding-left: 30px;
  margin-left: 300px;
  margin-top: -30px;
}
.photo {
  height: 250px;
  float: right;
  width: 250px px;
  display: flex;
  margin-right: 160px;
  margin-bottom: 80px;
}

.second-section {
  display: flex;
  justify-content: space-between;
  margin-top: -40px;
  height: 400px;
  /* background-color: black; */
  align-items: center;
}
.hi-button {
  background-color: rgba(255, 166, 0, 0.578);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hi-button .H1-h {
  margin: 0px;
}
.services .Pservices {
  text-align: center;
  margin-top: 150px;
}
.ULservices {
  list-style: none;
  padding: 0;
  margin: 50px;
  text-align: center;
}

.ULservices li {
  display: inline-block;
  margin-right: 45px;
  font-size: 30px;
}

/* /---------------------------------SECTION ABOUT US----------------------------------------------- */

.AboutUs {
  height: 500px;
  background-color: aquamarine;
}

.About {
  margin-top: 400px;

  font-size: 18px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-left: 50px;
}

.Abbout {
  font-size: 30px;
}

.ourJourney {
  text-align: center;
  padding-top: 30px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

/* ------------------------------------------------------PORTFOLIO SECTION HERE------------------------------------- */

.PORT {
  height: 400px;
  text-align: center;
  
}
.PORT h3{
font-size: 18px;
margin: 0;
margin-top: 40px;
padding-right: 200px;
font-weight: lighter;


}
.PORT p{
font-size: 58px;
font-weight: bold;
margin: 0;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.boton{
text-align: center;
margin-top: -200px;



}
