* {
  padding: 0;
  margin: 0;
}
.headerSection {
  display: flex;
  /* border: 3px solid red; */
  justify-content: left;
  padding-top: 30px;
}
.NV {
  display: flex;
  height: 100px;
  width: 100%;
  /* background: aqua; */
  /* border: 2px solid; */
  justify-content: space-around;
  flex-direction: row;
}
.link ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  /* background: #000; */
}
.link li {
  margin-right: 20px;
}

.Sicns ul {
  display: flex;
  list-style: none;
}
.Sicns li {
  margin-right: 20px;
}

/* -------------------------------------HERO SECTION HERE////////////////////////////////////////////////////////////////------------ */
.HeroSection {
  height: 700px;
 
  margin: 1% 15%;
}
.Heading h1 {
  font-size: 26px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  font-weight: 700;

  padding: 0px;
  margin: 0px;
}
.Heading h1 span {
  font-size: 64px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
}
.HeroSection h1 span {
  font-weight: bolder;
  word-spacing: 50px;
  letter-spacing: 5px;
  font-size: 64px;
  margin: 0px;
}
.Heading .slug {
  font-size: 34px;
}

/* /////////////////////////////////////////////////// SECOUND SEC START HERE???????????????????????????// */
.second-section {
  display: flex;
  justify-content: center;

  flex-direction: column;
  margin-top: 20px;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 100px;
  margin-right: 500px;

  background: #ffe0b3;
  border-radius: 35px;
}
.H1-button .H1-h {
  text-align: left;
  padding-bottom: 5px;
}

/* /////////////////////////////////////SAtisfaction */
.Satisfaction {
  display: flex;
  flex-direction: row;
  margin-right: 70px;
  margin-top: 70px;
}
.Satisfaction span {
  font-size: 38px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.Satisfaction .ClientS{
  margin-right: 200px;
  margin-top: 60px;
}
.Satisfaction .CV .button {
  margin-top: 80px;
  background-color: #04AA6D;
  border: none;
  color:black;
  padding: 15px 32px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}

.services {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 200px;
  
 
}
.SERVICES-PRO .itmes {
  display: flex;

justify-content: center;
flex-direction: row;
list-style: none;




}
.itmes li{
  margin-right: 70px;
  text-decoration: none;
  padding-top: 30px;
  font-size: 30px;


}

/* /---------------------------------????????????????????????????SECTION ABOUT US----------------------------------------------- */

.AboutUs {
  height: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background:rgb(249, 247, 247);
 
  
  padding-top: 200px;
 
 
}

.About .head-ab{
  display: flex;
  justify-content: center;
  padding-right: 600px;
  /* text-align: left; */

  /* margin-right: 100px; */
}
.About .head-a{
  font: 30px monospace;
  line-gap-override: 4px;
  font-size: 58px;
  font-weight: 700px;
  word-spacing: 5px;
  letter-spacing: 2px;
 

}
.ourJourney .para {
display: flex;
justify-content: right;
text-align: center;
padding-top: 50px;
font-size: 24px;
padding-right: 60px
;
word-spacing: 3px;



}


/* ------------------------------------------------------PORTFOLIO SECTION HERE------------------------------------- */

.PORT {
  height: 400px;
  text-align: center;
}
.PORT h3 {
  font-size: 18px;
  margin: 0;
  margin-top: 40px;
  padding-right: 200px;
  font-weight: lighter;
}
.PORT p {
  font-size: 58px;
  font-weight: bold;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.boton {
  text-align: center;
  margin-top: -200px;
}
